<%= form_with(model: collaborator, local: true) do |form| %>
  <% if collaborator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collaborator.errors.count, "error") %> prohibited this collaborator from being saved:</h2>

      <ul>
      <% collaborator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :collaborator_name %>
  </div>

  <div class="field">
    <%= form.label :paterno %>
    <%= form.text_field :paterno, id: :collaborator_paterno %>
  </div>

  <div class="field">
    <%= form.label :materno %>
    <%= form.text_field :materno, id: :collaborator_materno %>
  </div>

  <div class="field">
    <%= form.label :job %>
    <%= form.select :job_id, Job.all.collect {|c| [c.name, c.id]} %>
  </div>

  <div class="field">
    <%= form.label :department %>
    <%= form.select :department_id, Department.all.collect {|c| [c.description, c.id]} %>
  </div>

  <div class="field">
    <%= form.label :registration_date %>
    <%= form.text_field :registration_date, id: :collaborator_registration_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
