<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @collaborator.name %>
</p>

<p>
  <strong>Paterno:</strong>
  <%= @collaborator.paterno %>
</p>

<p>
  <strong>Materno:</strong>
  <%= @collaborator.materno %>
</p>

<p>
  <strong>Job:</strong>
  <%= @collaborator.job %>
</p>

<p>
  <strong>Department:</strong>
  <%= @collaborator.department %>
</p>

<p>
  <strong>Registration date:</strong>
  <%= @collaborator.registration_date %>
</p>

<%= link_to 'Edit', edit_collaborator_path(@collaborator) %> |
<%= link_to 'Back', collaborators_path %>
